﻿/*Este css se aplica para el mapa de la pantalla principal*/
#map {
    position: absolute;
    top: 250px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*Este css se aplica para el mapa de la pantalla de Registro de Comercio*/
#mapRegistro {
    width:100%;
    height: 300px;
}

/*Este css se aplica para el mapa de la pantalla de Administracion de Comercio*/
#mapAdminComercio {
    width: 100%;
    height: 300px;
}


